name: cron Jobs

on:
  schedule:
    - cron: '0 9 * * *' # Daily at 09:00 UTC

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  bench-tests:
    name: Run E2E Tests with Grafana Bench
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    
    # ensure job never runs on forks
    if: ${{ github.event_name != 'schedule' || github.repository_owner == 'grafana' }}

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Get secrets from Vault
        id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@get-vault-secrets/v1.3.0
        with:
          common_secrets: |
            PLAYWRIGHT_GRAFANA_PASSWORD=data-sources/e2e:grafana-pw
            PLAYWRIGHT_GRAFANA_USERNAME=data-sources/e2e:grafana-username
          repo_secrets: |
            DS_INSTANCE_HOST=ds-instance:host
            DS_INSTANCE_PASSWORD=ds-instance:password
            DS_INSTANCE_PORT=ds-instance:port
            DS_INSTANCE_USERNAME=ds-instance:username
          export_env: false

      - name: Wait for Grafana to be reachable
        uses: grafana/plugin-actions/wait-for-grafana@wait-for-grafana/v1.0.2
        with:
          url: "https://datasourcese2e.grafana-dev.net/login"
          timeout: 300  # 5 minutes
          interval: 10  # 10 seconds

      - name: Run Grafana Bench tests
        run: |
          set -euo pipefail 
          docker run \
            --rm \
            --network=host \
            --volume "$PWD:/tests" \
            us-docker.pkg.dev/grafanalabs-global/docker-grafana-bench-prod/grafana-bench-playwright:v0.6.11 test \
            --grafana-version "rrc-instant" \
            --grafana-admin-password "${{ fromJSON(steps.get-secrets.outputs.secrets).PLAYWRIGHT_GRAFANA_PASSWORD }}" \
            --grafana-admin-user "${{ fromJSON(steps.get-secrets.outputs.secrets).PLAYWRIGHT_GRAFANA_USERNAME }}" \
            --grafana-url "https://datasourcese2e.grafana-dev.net" \
            --pw-execute "npm run e2e" \
            --pw-prepare "npm ci --no-audit --fund=false; npx playwright install" \
            --test-env 'CI=true,DS_INSTANCE_HOST=${{ fromJSON(steps.get-secrets.outputs.secrets).DS_INSTANCE_HOST }},DS_INSTANCE_PASSWORD=${{ fromJSON(steps.get-secrets.outputs.secrets).DS_INSTANCE_PASSWORD }},DS_INSTANCE_PORT=${{ fromJSON(steps.get-secrets.outputs.secrets).DS_INSTANCE_PORT }},DS_INSTANCE_USERNAME=${{ fromJSON(steps.get-secrets.outputs.secrets).DS_INSTANCE_USERNAME }},DS_PDC_NETWORK_NAME=datasources-pdc-network-aws-datasourcese2e' \
            --test-runner playwright \
            --test-verbose
