name: run-tests

on:
  push:
    branches:
      - v1
      - main
  pull_request:
    branches:
      - v1
      - main
  schedule:
    - cron: "0 9 1 * *"

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        go:
          - 1.19
        clickhouse:
          - 22.3
          - 22.8
          - 22.9
          - '22.10'
          - 22.11
          - latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Go ${{ matrix.go }}
        uses: actions/setup-go@v4.0.1
        with:
          stable: false
          go-version: ${{ matrix.go }}

      - name: Build
        run: go build -v ./...

      - name: Run backend tests
        run: CLICKHOUSE_VERSION=${{ matrix.clickhouse }} go test -v ./...
