name: run-frontend-tests

on:
  push:
    branches:
      - v1
      - main
  pull_request:
    branches:
      - v1
      - main
  schedule:
    - cron: "0 9 1 * *"

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        go:
          - 1.18.3 #pin to 1.18.3 for now due to https://github.com/ClickHouse/ch-go/issues/160

    steps:
      - uses: actions/checkout@main

      - name: Setup packages
        id: setup-packages
        run: |
          sudo apt-get update -y
          sudo apt-get install -y zip zstd jq git

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '16.x'

      - name: Install Go ${{ matrix.go }}
        uses: actions/setup-go@v2.1.5
        with:
          stable: false
          go-version: ${{ matrix.go }}

      - name: Cache node_modules
        id: cache-node-modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ matrix.node-version }}-nodemodules-${{ hashFiles('**/package-lock.json') }}

      - name: Install yarn dependencies
        run: yarn install
        if: |
          steps.cache-node-modules.outputs.cache-hit != 'true'

      - name: Build
        run: go build -v ./...

      - name: Build Frontend
        run: yarn build
