name: run-backend-tests

on:
  push:
    branches:
      - v1
      - main
  pull_request:
    branches:
      - v1
      - main
  schedule:
    - cron: '0 9 1 * *'

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        clickhouse:
          - 22.3
          - 22.8
          - 22.9
          - '22.10'
          - 22.11
          - latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Build
        run: go build -v ./...

      - name: Run backend tests
        run: CLICKHOUSE_VERSION=${{ matrix.clickhouse }} go test -v ./...
